:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --gray-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --active-bottom-color: #188ce8;
}

/*^ general */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/** Студія */
/*^ header */
.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--accent-text-color);
}

.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-text-color);
}

.site-nav .link-current {
  color: var(--accent-text-color);
}
.contacts-header a {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts-header a:hover,
.contacts-header a:focus {
  color: var(--accent-text-color);
}

/*^ Шапка */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--active-bottom-color);
}

/*^ Особливості */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list .title {
  color: var(--title-text-color);
  font-size: 14px;
  text-transform: uppercase;
}

.feature-list p {
  line-height: 1.71;
}

/*^ Чим ми займаємося */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*^ Наша команда */
.section-team {
  background-color: var(--gray-bg-color);
}

.team-list .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*^ Футер */
.footer {
  background-color: var(--footer-bg-color);
}

.communication {
  font-style: normal;
}

.footer .logo {
  color: var(--white-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address a {
  color: var(--white-text-color);
  line-height: 1.71;
}

.contacts a {
  color: var(--contacts-text-color);
  line-height: 1.71;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-text-color);
}

/** Портфоліо */
.site-filter button {
  color: var(--title-text-color);
  background-color: var(--gray-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.site-filter button:hover,
.site-filter button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}

.work-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
